.headerContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(180deg,rgb(167,55,55) 0%,rgb(100, 28, 28) 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.logo{
    color:white;
    font-size: 2rem;
    font-weight: bolder;
}
.cartButton{
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #4d1601;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
}

.cartButton:hover,
.cartButton:active {
  background-color: #2c0d00;
}

.icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
  }

.badge{
    background-color: #d94646;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.cartButton:hover .badge,
.cartButton:active .badge {
  background-color: #a13535;
}

.headerBanner{
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
}